<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
 <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
 <!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
 <!--[if gt IE 8]><!-->
 <html class="no-js" lang="en">
   <!--<![endif]-->
   <%- include('includes/main-head', {title: 'Dashboard'}) %>
  <body>
    <!-- /.site-preloader -->
    <%- include('includes/site-preloader') %> <%-
    include('includes/main-header') %>

    <!--/.main-header-->

    <%- include('includes/popup-search-box') %>
    <!--/.popup-search-box-->

    <div id="searchbox-overlay"></div>
    <!--/.searchbox-overlay-->

     <!-- 
         MARK: Content
     -->
     <section class="page-header">
      <div class="container">
        <div class="page-content-wrap">
          <div class="page-content">
            <h2
              ><%= user.username %> <span><%= papers.length %> Papers</span></h2
            >
            <% if(papers.length === 0){ %>
            <p>You do not have any published research papers.</p>
            <% } else { %>
            <p>Here are all your recent research papers.</p>
            <% }%>
          </div>
        </div>
      </div>
    </section>
    <!--/.page-header-->
 
    <section class="category-page padding">
      <div class="container">
        <div class="row gy-4">
          <% for(let paper of papers){ %>
          <article class="col-lg-4 col-md-6">
            <div class="post-card img-hover-move">
              <div class="post-thumb media">
                <a href="single.html">
                  <img src="assets/img/post-10.jpg" alt="thumb" />
                </a>
              </div>
              <div class="post-content">
                <ul class="post-meta">
                  <li class="date"><%= formatDate(paper.createdDate) %></li>
                </ul>
                <h3
                  ><a href="/paper/<%= paper.id %>" class="text-hover"
                    ><%= truncateTitle(paper.title) %></a
                  ></h3
                >
                <p><%= truncateHTML(truncateTitle(paper.body, 100)) %></p>
                <ul class="post-card-footer">
                  <li
                    ><a href="/paper/<%= paper.id %>" class="read-more"
                      >Continue Reading</a
                    ></li
                  >
                </ul>
              </div>
            </div>
          </article>
          <% } %>
        </div>

         <!-- TODO: Implement Pagination -->
         <ul class="pagination-wrap justify-content-center">
          <li><a href="#" class="active">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li
            ><a href="#"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
                fill="currentColor"
              >
                <path
                  d="m553.846-253.847-42.153-43.384 152.77-152.77H180.001v-59.998h484.462l-152.77-152.77 42.153-43.384L779.999-480 553.846-253.847Z"
                ></path></svg></a
          ></li>
        </ul>
      </div>
    </section>

    <%- include('includes/footer') %>
    <!--/.footer-section-->
 
    <%- include('includes/scrollup') %>
    <!--scrollup-->

    <%- include('includes/toggle-theme') %>
    <!-- Switch Button -->

    <!--jQuery Lib-->
    <%- include('includes/scripts') %>
  </body>
</html>