<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <%- include('includes/main-head', {title: paper.title}) %>

  <body>
    <!-- /.site-preloader -->
    <%- include('includes/site-preloader') %> <%-
    include('includes/main-header') %>

    <!--/.main-header-->

    <%- include('includes/popup-search-box') %>
    <!--/.popup-search-box-->

    <div id="searchbox-overlay"></div>
    <!--/.searchbox-overlay-->

    <!-- 
        MARK: Content
    -->
    <section class="single-page no-sidebar">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="single-post-thumb">
              <img src="<%= paper.image %>" alt="thumb" />
            </div>
            <header class="entry-header">
              <ul class="post-meta">
                <li><%= paper.username %></li>
                <li class="sep"></li>
                <li
                  ><a href="category.html" class="date"
                    ><%= formatDate(paper.createdDate) %></a
                  ></li
                >
              </ul>
              <h2 class="post-title"><%= paper.title %></h2>
            </header>
            <div class="single-post-content">
              <%- formatHTML(paper.body) %>

              <!-- Show edit & delete when you're the author -->
              <% if(isAuthor){ %>
              <a
                href="/edit-paper/<%= paper.id %>"
                class="default-btn text-anim"
                data-text="Edit"
                >Edit</a
              >
              <form
                action="/delete-paper/<%= paper.id %>"
                method="POST"
                style="display: inline"
              >
                <button
                  type="submit"
                  class="default-btn text-anim"
                  data-text="Delete"
                  style="background: tomato"
                  >Delete</button
                >
              </form>
              <% } %>
            </div>

            <!-- Render recent research papers -->
            <div class="single-post-item">
              <h3>Recent Research Papers</h3>
              <div class="related-post-wrap">
                <% for(let paper of recentPapers()) { %>

                <article>
                  <div class="post-card horizontal-card img-hover-move">
                    <div class="post-thumb media">
                      <a href="/paper/<%= paper.id %>">
                        <img src="<%= paper.image %>" alt="thumb" />
                      </a>
                    </div>
                    <div class="post-content">
                      <ul class="post-meta">
                        <li class="date"
                          ><%= formatDate(paper.createdDate) %></li
                        >
                      </ul>
                      <h3>
                        <a href="/paper/<%= paper.id %>" class="text-hover"
                          ><%= truncateTitle(paper.title) %></a
                        >
                      </h3>
                      <ul class="post-card-footer">
                        <li>
                          <a href="/paper/<%= paper.id %>" class="read-more"
                            >Continue Reading</a
                          >
                        </li>
                        <!-- Comment count -->
                        <!-- <li>
                            <a href="#" class="comment">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                height="24"
                                viewBox="0 -960 960 960"
                                width="24"
                                fill="currentColor"
                              >
                                <path
                                  d="M250.001-410.001h459.998v-59.998H250.001v59.998Zm0-120h459.998v-59.998H250.001v59.998Zm0-120h459.998v-59.998H250.001v59.998Zm609.998 531.537L718.461-260.001H172.309q-30.308 0-51.308-21t-21-51.308v-455.382q0-30.308 21-51.308t51.308-21h615.382q30.308 0 51.308 21t21 51.308v669.227ZM172.309-320h571.69L800-264.615v-523.076q0-4.616-3.846-8.463-3.847-3.846-8.463-3.846H172.309q-4.616 0-8.463 3.846-3.846 3.847-3.846 8.463v455.382q0 4.616 3.846 8.463 3.847 3.846 8.463 3.846ZM160-320V-800v480Z"
                                /></svg
                              ><span>04</span>
                            </a>
                          </li> -->
                      </ul>
                    </div>
                  </div>
                </article>
                <% } %>
              </div>
            </div>

            <div class="single-post-item">
              <ul class="single-post-navigation">
                <li>
                  <% if(paper.id > 1) { %>
                  <a href="/paper/<%= paper.id - 1 %>"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="24"
                      viewBox="0 -960 960 960"
                      width="24"
                      fill="currentColor"
                    >
                      <path
                        d="M366.924-213.463 100.001-480.385l266.923-266.922 41.768 41.768-194.54 195.155h646.231v59.999H214.537l195.155 195.154-42.768 41.768Z"
                      /></svg
                    >Prev Papers</a
                  >
                  <% } else { %>
                  <a
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="24"
                      viewBox="0 -960 960 960"
                      width="24"
                      fill="currentColor"
                    >
                      <path
                        d="M366.924-213.463 100.001-480.385l266.923-266.922 41.768 41.768-194.54 195.155h646.231v59.999H214.537l195.155 195.154-42.768 41.768Z"
                      /></svg
                    >Prev Papers</a
                  >
                  <% } %>
                </li>
                <li
                  ><a href="/paper/<%= paper.id + 1 %>"
                    >Next Papers<svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="24"
                      viewBox="0 -960 960 960"
                      width="24"
                      fill="currentColor"
                    >
                      <path
                        d="m593.461-213.463-42.768-41.768 195.155-195.154H100.001v-59.999h646.231L551.693-705.539l41.768-41.768 266.922 266.922-266.922 266.922Z"
                      /></svg></a
                ></li>
              </ul>
            </div>
            <!--/.post-navigation-->

            <!-- TODO: Add comments functionality -->
            <div class="single-post-item">
              <h3>Discussions</h3>
              <ul class="comments-box">
                <% if(comments && comments.length){ %> <%
                comments.forEach(comment => { %>
                <li class="comment">
                  <div class="comment-inner">
                    <div class="comment-thumb">
                      <img
                        src="https://ui-avatars.com/api/?name=<%= comment.username %>&background=random"
                        alt="img"
                      />
                    </div>
                    <div class="comment-wrap">
                      <div class="comments-meta">
                        <h4
                          ><%= comment.username %>
                          <span
                            ><%= formatDate(comment.createdDate) %></span
                          ></h4
                        >
                      </div>
                      <div class="comment-area">
                        <p> <%- formatHTML(comment.content) %> </p>
                        <a href="#" class="reply">Delete</a>
                      </div>
                    </div>
                  </div>
                </li>
                <% }) %> <% } %>
              </ul>

              <!-- Show comment only when user logged in -->
              <% if(user) { %>
              <div class="comment-form-wrap">
                <h3>Leave a Reply</h3>
                <form
                  action="/paper/<%= paper.id %>/comment"
                  method="POST"
                  class="comment-form form-horizontal"
                >
                  <div class="comment-form-group">
                    <div class="form-field message">
                      <textarea
                        id="comment"
                        name="content"
                        cols="30"
                        rows="5"
                        class="form-control comment"
                        placeholder="Your Comment*"
                        required=""
                      ></textarea>
                    </div>
                    <div class="form-field submit-btn">
                      <button
                        id="submit"
                        class="default-btn text-anim"
                        type="submit"
                        data-text="Submit Comment"
                      >
                        Submit Comment
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <% } else { %>
              <div class="comment-form-wrap">
                <a
                  href="/login"
                  class="default-btn text-anim"
                  data-text="Login to comment"
                  >Login to comment</a
                >
              </div>
              <% } %>
            </div>
            <!--/.post-comments-->
          </div>
        </div>
      </div>
    </section>
    <!--/.single-page-->

    <%- include('includes/footer') %>
    <!--/.footer-section-->

    <%- include('includes/scrollup') %>
    <!--scrollup-->

    <%- include('includes/toggle-theme') %>
    <!-- Switch Button -->

    <!--jQuery Lib-->
    <%- include('includes/scripts') %>
  </body>
</html>
